/* 
    Document   : style
    Created on : 11-ago-2013, 15:50:38
    Author     : evelyn
    Description:
        Purpose of the stylesheet follows.
*/
body{
    margin: 0 auto;
    padding: 0;
}
#candidato, #administrador { 
   width: 200px;
   height: 50px;
   cursor: pointer;
   float: left; 
}

